*{
	box-sizing: border-box;
}

html, body{
	margin: 0;
	padding: 0;
}

body{
	cursor: url(pointer.png), auto;
}

a:link{
	text-decoration: none;
}

a:hover{
	cursor: url(pointer.png), auto;
}

#full{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
}

#full-container{
	width: 1208px;
	height: 600px;
	margin: 0 auto;
	padding: 0;
}

.gif-container{
	width: 400px;
	height: 600px;
	margin: 0;
	display: inline-block;
	padding: 0;
	z-index: 90;
}

#circle-gif-1{
	width: 150px;
	margin: 225px 125px;
	opacity: .6;
	z-index: 100;
}

#circle-gif-1:hover{
	opacity: 1;
	transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#circle-gif-2{
	width: 150px;
	margin: 225px 125px;
	opacity: .6;
	z-index: 100;
}

#circle-gif-2:hover{
	opacity: 1;
	transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#circle-gif-3{
	width: 150px;
	margin: 225px 125px;
	opacity: .6;
	z-index: 100;
}


#circle-gif-3:hover{
	opacity: 1;
	transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

#arrow{
	z-index: 100;
	position: fixed;
	right: 30px;
	top: 300px;
	width: 20px;
	display: none;
}

#arrow:hover{
	opacity: .5;
	transition-duration: .5s;
    -moz-transition-duration: .5s;
    -webkit-transition-duration: .5s;
    -o-transition-duration: .5s;
}

@media all and (max-width: 768px){

	#full-container{
		width: 704px;
		height: 750px;
	}

	.gif-container{
		width: 350px;
		height: 750px;
	}

	#circle-gif-1{
		margin: 300px 100px;
	}

	#circle-gif-2{
		margin: 300px 100px;
	}

	#container-3{
		display: none;
	}

	#arrow{
		top: 355px;
	}
}

@media all and (max-width: 480px){

	#full-container{
		width: 320px;
		height: 560px;
	}

	.gif-container{
		width: 320px;
		height: 280px;
		display: block;
	}

	#circle-gif-1{
		margin: 65px 85px;
	}

	#circle-gif-2{
		margin: 65px 85px;
	}

	#arrow{
		top: 260px;
	}

}