html, body{
	margin: 0;
	padding: 0;
}

#container{
	width: 1100px;
	height: 300px;
	margin: 150px auto 0;
	padding: 0;
}

#box1{
	width: 300px;
	height: 300px;
	position: absolute;
	z-index: 80;
}

.pixel1{
	width: 6px;
	height: 6px;
	float: left;
	background-color: #fff;
	opacity: 0;
	border-radius: 50%;
}

#box2{
	width: 294px;
	height: 294px;
	position: absolute;
	z-index: 90;
	margin-left: 3px;
	margin-top: 3px;
}

.pixel2{
	width: 6px;
	height: 6px;
	float: left;
	background-color: #fff;
	opacity: 0;
	border-radius: 50%;
}

#img01{
	width: 294px;
	height: 294px;
	position: absolute;
	z-index: 30;
	margin-left: 3px;
	margin-top: 3px;
	display: none;
}

#box3{
	width: 300px;
	height: 300px;
	position: absolute;
	z-index: 80;
	margin-left: 400px;
}

#box4{
	width: 294px;
	height: 294px;
	position: absolute;
	z-index: 90;
	margin-left: 403px;
	margin-top: 3px;
}

#img02{
	width: 294px;
	height: 294px;
	position: absolute;
	z-index: 30;
	margin-left: 403px;
	margin-top: 3px;
	display: none;
}

#box5{
	width: 300px;
	height: 300px;
	position: absolute;
	z-index: 80;
	margin-left: 800px;
}

#box6{
	width: 294px;
	height: 294px;
	position: absolute;
	z-index: 90;
	margin-left: 803px;
	margin-top: 3px;
}

#img03{
	width: 294px;
	height: 294px;
	position: absolute;
	z-index: 30;
	margin-left: 803px;
	margin-top: 3px;
	display: none;
}

@media all and (max-width: 768px){

	#container{
		width: 300px;
		height: 960px;
		margin: 30px auto;
	}

	#box3{
		margin-left: 0px;
		margin-top: 330px;
	}

	#box4{
		margin-left: 3px;
		margin-top: 333px;
	}

	#img02{
		margin-left: 3px;
		margin-top: 333px;
	}

	#box5{
		margin-left: 0px;
		margin-top: 660px;
	}

	#box6{
		margin-left: 3px;
		margin-top: 663px;
	}

	#img03{
		margin-left: 3px;
		margin-top: 663px;
	}
}

@media all and (max-width: 480px){
	

}